<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width, viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>确认邀请</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../lib/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
    <script type="text/javascript" src="../../lib/js/p.js"></script>
    <script type="text/javascript" src="../../lib/js/UIOT.js"></script>
</head>

<body ontouchstart="">

    <div id="app" v-cloak>
        <div class="invite-main">
            <div class="invite-avatar-main">
                <div class="invite-avatar">
                    <img src="../../../resources/image/avatar1.jpg" alt="">
                    <img src="../../../resources/image/avatar2.jpg" alt="">
                    <!-- <img src="../../../resources/image/avatar1.jpg" alt="">
                    <div class="invite-icon">
                        <div class="invite-icon-item1"></div>
                        <img src="../../../resources/image/img_邀请@2x.png.jpg" alt="">
                        <div class="invite-icon-item2"></div>
                    </div>
                    <img src="../../../resources/image/avatar2.jpg" alt=""> -->
                </div>
                <div class="invite-tips">
                    <p><span class="iconfont icon-chenggong"></span> 邀请成功</p>
                </div>
            </div>
            <div class="invite-qrcode-main">
                <p>"U智锁"公众号</p>
                <p>为您提供安全,便捷的智能门锁服务</p>
                <p>快来关注我们把!</p>
                <img src="../../../resources/image/qrcode.png" alt="">
                <p>长按上方二维码关注"U智锁"公众号</p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="./index.js" defer async></script>

</body>

</html>