@font-face {
  font-family: 'defaultIconfont';
  src: url(../../resources/font/defaultIconfont.ttf) format('truetype');
}

@font-face {
  font-family: 'iconfont';
  src: url(../../resources/font/iconfont.ttf) format('truetype');
}

body {
  -webkit-user-select: none;
  user-select: none;
  font-size: 0.3733rem/* @source-size: 14px; */;
  font-family: Helvetica, 'Helvetica Neue', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

em {
  font-style: normal;
}

.u-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.u-content {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  flex: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow: auto;
}

.u-bottom {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}

@media only screen and (width: 375px) and (min-height: 690px) {
  .adapter-iphoneX-status-bar {
    /* iOS 11.0 */
    height: constant(safe-area-inset-top);
    /* 11.2+ */
    height: env(safe-area-inset-top);
    background-color: #000;
  }

  .u-wrapper {
    /* iOS 11.0 */
    padding-bottom: constant(safe-area-inset-bottom);
    /* 11.2+ */
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.u-active:active {
  background-color: #ddd;
}

.u-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.8);
}

.u-loading .u-loading-box {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.u-loading .u-loading-box .u-loading-icon {
  width: 30px;
  /* @norem */
  height: 30px;
  /* @norem */
  background: center no-repeat;
  background-image: url(../../resources/image/white_loading_icon@2x.png);
  background-image: -webkit-image-set(url(../../resources/image/white_loading_icon@2x.png) 2x, url(../../resources/image/white_loading_icon@3x.png) 3x);
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  -webkit-animation: loading 1s steps(12, end) infinite;
  animation: loading 1s steps(12, end) infinite;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.u-loading .u-loading-box .u-loading-text {
  color: #fff;
  margin-top: 0.3200rem/* @source-size: 12px; */;
  text-align: center;
}

.u-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1051;
  background-color: rgba(0, 0, 0, 0.8);
}

.u-dialog .u-dialog-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 6.6667rem/* @source-size: 250px; */;
  background-color: #fff;
  border-radius: 0.3200rem/* @source-size: 12px; */;
  overflow: hidden;
}

.u-dialog .u-dialog-box .u-dialog-content {
  padding: 0.4000rem/* @source-size: 15px; */;
  text-align: center;
  position: relative;
}

.u-dialog .u-dialog-box .u-dialog-content:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #bbb;
}

.u-dialog .u-dialog-box .u-dialog-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.u-dialog .u-dialog-box .u-dialog-button .u-dialog-cancel,
.u-dialog .u-dialog-box .u-dialog-button .u-dialog-confirm {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  color: #007aff;
  text-align: center;
  padding: 0.4000rem/* @source-size: 15px; */ 0;
  line-height: 1;
  position: relative;
}

.u-dialog .u-dialog-box .u-dialog-button .u-dialog-cancel:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #bbb;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.u-header {
  width: 100%;
  height: 1.1733rem/* @source-size: 44px; */;
  background-color: #000;
  position: relative;
}

.u-header p {
  position: absolute;
  top: 0;
  left: 1.4667rem/* @source-size: 55px; */;
  right: 1.4667rem/* @source-size: 55px; */;
  line-height: 1.1733rem/* @source-size: 44px; */;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 0.4800rem/* @source-size: 18px; */;
  text-align: center;
}

.u-header span {
  display: block;
  width: 1.4667rem/* @source-size: 55px; */;
  line-height: 1.1733rem/* @source-size: 44px; */;
  color: #fff;
  font-size: 0.4267rem/* @source-size: 16px; */;
}

.u-header span:active {
  opacity: .5;
}

.u-header .pull-left {
  padding-left: 0.5333rem/* @source-size: 20px; */;
}

.u-header .pull-right {
  padding-right: 0.5333rem/* @source-size: 20px; */;
  text-align: right;
}

.download-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.8000rem/* @source-size: 30px; */;
}

.download-main img {
  width: 2.0267rem/* @source-size: 76px; */;
  height: 2.0267rem/* @source-size: 76px; */;
  border-radius: 0.2667rem/* @source-size: 10px; */;
  margin-top: 1.1200rem/* @source-size: 42px; */;
}

.download-main p {
  font-size: 0.5333rem/* @source-size: 20px; */;
  color: #353338;
}

.download-main p:nth-child(2) {
  margin-top: 0.2667rem/* @source-size: 10px; */;
}

.download-main p:nth-child(3) {
  margin-top: 1.4133rem/* @source-size: 53px; */;
}

.download-main p:nth-child(4) {
  margin-top: 0.4000rem/* @source-size: 15px; */;
  font-size: 0.4000rem/* @source-size: 15px; */;
  color: #353338;
}

.download-main .u-button {
  width: 6.2667rem/* @source-size: 235px; */;
  height: 1.4667rem/* @source-size: 55px; */;
  font-size: 0.4000rem/* @source-size: 15px; */;
  border-radius: 0.1333rem/* @source-size: 5px; */;
  text-align: center;
  margin-top: 0.8000rem/* @source-size: 30px; */;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.download-main .ios-custom-button {
  margin-top: 2.1333rem/* @source-size: 80px; */;
  color: #353338;
  border: 1px #353338 solid;
}

.download-main .android-custom-button {
  color: #39b54a;
  border: 1px #39b54a solid;
}