<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width, viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>APP下载</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../lib/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
    <script type="text/javascript" src="../../lib/js/p.js"></script>
    <script type="text/javascript" src="../../lib/js/UIOT.js"></script>
</head>

<body ontouchstart="">

    <div id="app" v-cloak>
        <div class="download-main">
            <img src="../../../resources/image/download.jpg">
            <p>U智锁</p>
            <p>你身边的安全管家</p>
            <p>轻松一点,享用生活</p>
            <u-button :init-param="componentsConfig.DownloadButton.iosInitParam" v-on:u-button-tap="" class="iconfont icon-iconfontapple"></u-button>
            <u-button :init-param="componentsConfig.DownloadButton.androidInitParam" v-on:u-button-tap="" class="iconfont icon-anzhuo"></u-button>
        </div>
    </div>

    <script type="text/javascript" src="./index.js" defer async></script>

</body>

</html>